[Unit]
Description=Spotware Client

[Service]
#ExecStart=/home/claasahl/spotware-cli/start.sh
#WorkingDirectory=/home/claasahl/spotware-cli/
#User=claasahl
Environment=NODE_VERSION=12
ExecStart=//home/claasahl/.nvm/nvm-exec npm start
WorkingDirectory=/home/claasahl/spotware-cli/
User=claasahl
Restart=always
RestartSec=1min

[Install]
WantedBy=multi-user.target
